<!DOCTYPE html>
<html>

<head>
    <title>My PokeClub</title>
    <link rel="stylesheet" href="styles.css">
    <link rel="stylesheet" href="form.css">



</head>

<body>

    <div class="button-container">
        <a href="/" class="button">Home</button></a>
        <a href="/select" class="button">Cards</button></a>
        <a href="admin/add" class="button">Dashboard</button></a>
        <a href="/account" class="button">My Account</button></a>
    </div>

    <header>
        <h3>My PokeClub </h3>

    </header>

    <main>

        <div class="login-container">
            <form action="/" method="POST">
                <form id="registrationform">
                    <p>
                        username : <input name="emailField">
                        <br>
                        password : <input name="passwordField">
                    </p>
                    <input type="submit" class="button" value="login">
                </form>
            </form>
        </div>
    </main>

</body>

</html>