body {
  font-family: 'Verdana', sans-serif;
  background-color: #EEEEFF;
  /* Dark background color */
  color: black;
  /* Light text color*/

}

.container {
  display: flex;
  flex-direction: column;
  /* Stack items vertically */
  justify-content: center;
  align-items: center;
  height: 100vh;


}

.button-container {
  display: flex;
  justify-content: space-between;
  background-color: #EEEEFF;
  padding: 10px;


}

.button {
  background-color: #313152;
  color: #ffffff;
  /* White text color */
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 1px;
  transition: background-color 0.3s ease;
  text-decoration: none;

}

.button:hover {
  background-color: #06060A;
}

.login-button{
  background-color: #BDBDE6;
  color: #06060A;
  padding: 15px 30px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  margin: 0 10px;
  transition: background-color 0.3s ease;
  font-family: 'Verdana', sans-serif;
  text-decoration: none;

}

.login-button:hover {
  background-color: #EEEEFF;
}

.jumbo {
  text-align: center;
  color: #313152
}

.logo-image {
  max-width: 100%;
  height: auto;
  margin-top: 20px;
  /* Adjust margin as needed */

}

.header{
  color: #06060A;

}

.class {
  background-color: #313152;
  color: #ffffff;
  /* White text color */
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 1px;
  transition: background-color 0.3s ease;
  text-decoration: none;
}